In [2]:
import pandas as pd 
import numpy as np 
from scipy.stats import spearmanr, pearsonr, chi2_contingency

In [3]:
df = pd.read_csv('Credit_Scoring.csv')

In [8]:
print('Thông tin của bộ dữ liệu',df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149992 entries, 0 to 149991
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Unnamed: 0                            149992 non-null  int64
 1   SeriousDlqin2yrs                      149992 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  149992 non-null  float64
 3   age                                   149992 non-null  int64
 4   NumberOfTime30-59DaysPastDueNotWorse  149992 non-null  int64
 5   DebtRatio                             149992 non-null  float64
 6   MonthlyIncome                         120262 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       149992 non-null  int64
 8   NumberOfTimes90DaysLate               149992 non-null  int64
 9   NumberRealEstateLoansOrLines          149992 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  149992 non-null  int64
 11  NumberOfDependents                    146068 non-null  float64
dtypes: float64(4), int64(8)
memory usage: 13.7 MB
Thông tin của bộ dữ liệu None

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0

In [13]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [14]:
df.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
1,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0

# Với mức ý nghĩa 5% hãy thực hiện các kiểm định sau:

1. Giữa độ tuổi (age) và thu nhập trung bình theo tháng (MonthlyIncome) có tương quan với nhau hay không?

In [18]:
df1 = df[['age','MonthlyIncome']]
df1.isna().sum()

age                  0
MonthlyIncome    29730
dtype: int64

In [24]:
df1 = df1.dropna()
df1.isna().sum()

age              0
MonthlyIncome    0
dtype: int64

In [27]:
#### Có thể thấy rằng 2 biến tuổi và thu nhập đều là biến định lượng vì vậy dùng kiểm định pearsonr.
r,pvalues = pearsonr(x = df1.age, y = df1.MonthlyIncome)
print('Hệ số tương quan là :',r)
print('Pvalues là: ',pvalues)

Hệ số tương quan là : 0.037721515434702424
Pvalues là:  3.964657234287844e-39

2. Giữa số lượng khoản vay (NumberOfOpenCreditLinesAndLoans) và độ tuổi có tương quan với nhau không

In [31]:
df2 = df[['NumberOfOpenCreditLinesAndLoans','age']]
df2.isna().sum()
df2

        NumberOfOpenCreditLinesAndLoans  age
0                                     2   27
1                                     9   57
2                                     5   30
3                                     7   51
4                                    13   46
...                                 ...  ...
149987                                4   74
149988                                4   44
149989                               18   58
149990                                4   30
149991                                8   64

[149992 rows x 2 columns]

In [33]:
#### Có thể thấy rằng 2 trường dữ liệu trên đều là dữ liệu định lượng vì vậy dùng kiểm định pearsonr
r2,pvalues2 = pearsonr(x = df2.NumberOfOpenCreditLinesAndLoans, y = df2.age)
print('Hệ số tương quan là :',r2)
print('Pvalues là: ',pvalues2)

Hệ số tương quan là : 0.14770413180125885
Pvalues là:  0.0

In [34]:
### 2 trường trên có liên quan với nhau ( yếu )

3 .Giữa (số lượng người phụ thuộc) NumberOfDependents và thu nhập theo tháng (MonthlyIncome) có tương quan với nhau hay không

In [38]:
df3 = df[['NumberOfDependents','MonthlyIncome']]
df3.dropna(inplace=True)
df3.isna().sum()

c:\Users\Acer Nitro5\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

NumberOfDependents    0
MonthlyIncome         0
dtype: int64

In [39]:
#### Có thể thấy rằng 2 trường dữ liệu trên đều là dữ liệu định lượng vì vậy dùng kiểm định pearsonr
r3,pvalues3 = pearsonr(x = df3.NumberOfDependents    , y = df3.MonthlyIncome         )
print('Hệ số tương quan là :',r2)
print('Pvalues là: ',pvalues2)

Hệ số tương quan là : 0.14770413180125885
Pvalues là:  0.0

4. Mã hóa lại thuộc tính MonthlyIncome thành thuộc tính MonthlyIncome_order theo các khoảng tứ phân vị, giữa thuộc tính mới này và tình trạng nợ xấu trong 2 năm trở lại đây (SeriousDlqin2yrs) có liên quan tới nhau không

In [42]:
df4 = df[['MonthlyIncome','SeriousDlqin2yrs']]
df4.dropna(inplace=True)

c:\Users\Acer Nitro5\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [45]:
q1 = df4['MonthlyIncome'].quantile(q=0.25)
q2 = df4['MonthlyIncome'].quantile(q=0.50)
q3 = df4['MonthlyIncome'].quantile(q=0.75)

bins = [df4['MonthlyIncome'] < q1,
    (df4['MonthlyIncome'] >= q1) & (df4['MonthlyIncome'] < q2),
        (df4['MonthlyIncome'] >= q2) & (df4['MonthlyIncome'] < q3),
            df4['MonthlyIncome'] > q3]

cats = [1,2,3,4]

df4['MonthlyIncome_order'] = np.select(condlist=bins, choicelist=cats)

C:\Users\ACERNI~1\AppData\Local\Temp/ipykernel_4200/1721861416.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['MonthlyIncome_order'] = np.select(condlist=bins, choicelist=cats)

In [46]:
df4.head()

   MonthlyIncome  SeriousDlqin2yrs  MonthlyIncome_order
1        23684.0                 0                    4
2         2500.0                 0                    1
3         6501.0                 0                    3
4        12454.0                 0                    4
5        13700.0                 1                    4

In [50]:
# 2 biến là thang do thứ bậc và biến định lượng vì vậy dùng kiểm định spearman
r4, pvalues4 = spearmanr(df4.SeriousDlqin2yrs, df4.MonthlyIncome_order)
print('Hệ số tương quan là :',r4)
print('Pvalues là: ',pvalues4)

Hệ số tương quan là : -0.06836371480899846
Pvalues là:  1.5605465812027156e-124

5. Giữa thuộc tính MonthlyIncome_order với thuộc tính tỉ lệ số dư tài khoản (RevolvingUtilizationOfUnsecuredLines) có mối liên hệ với nhau không

In [56]:
df4['RevolvingUtilizationOfUnsecuredLines'] = df.RevolvingUtilizationOfUnsecuredLines

C:\Users\ACERNI~1\AppData\Local\Temp/ipykernel_4200/3552197034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['RevolvingUtilizationOfUnsecuredLines'] = df.RevolvingUtilizationOfUnsecuredLines

In [57]:
df4.head()

,MonthlyIncome,SeriousDlqin2yrs,MonthlyIncome_order,RevolvingUtilizationOfUnsecuredLines
1,23684.0,0,4,0.189169
2,2500.0,0,1,0.644226
3,6501.0,0,3,0.018798
4,12454.0,0,4,0.010352
5,13700.0,1,4,0.964673

In [60]:
r5,pvalues5 = spearmanr(df4.MonthlyIncome_order, df4.RevolvingUtilizationOfUnsecuredLines)
print('Hệ số tương quan là :',r5)
print('Pvalues là: ',pvalues5)

Hệ số tương quan là : -0.07902640635827311
Pvalues là:  7.326723735027839e-166